header{
    display: flex;
    background-color: #ffffff;
    height: 85px;
    align-items: center;
    padding: 5px 5%;
    justify-content: space-between;
    

}

.uptext{
    display: flex;
    height: 40px;
    background-color: #0081fe;
    color: #fff;
    align-items: center;
    gap: 15%;
    padding: 5px 5%;
    justify-content: space-between;
}



    

.poto{
    display: flex;
    width: 100%;
    gap: 7px;
}

.navlink{
    color: #918e8f;
}

.btn{
    
    color: #ffffff;
    padding: 9px 25px;
    background: #0081fe;
    border: none;
    font-family: "kallisto";
    text-decoration: none;
    height: 60px;
    width: 180px;
}

.logo img{
    height:23px ;
    width: auto;
    cursor: pointer;
}


nav a{

    align-items: center;
}

.webmobile{
    width: 100%;
    padding: 5em 1em;
    background-color: #f9fafa;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.subTitulo{
    font-family: "kallisto";
    font-weight: 600;
    font-size: 46px;
    text-align: center;
}
.marker{
    color: #0081fe;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;

}
.columna__paragraph{
    font-size: 13px;
}
/* .A{
    font-family: "kallisto";
    font-weight: 100;
}
.Aa{
    font-family: "kallisto";
    font-weight: 100;
    font-style: italic;
}
.B{
    font-family: "kallisto";
    font-weight: 200;
  
}
.Bb{
    font-family: "kallisto";
    font-weight: 200;
    font-style: italic;
}
.C{
    font-family: "kallisto";
    font-weight: 400;
}
.Cc{
    font-family: "kallisto";
    font-weight: 400;
    font-style: italic;

}
.D{
    font-family: "kallisto";
    font-weight: bold;
}
.Dd{
    font-family: "kallisto";
    font-weight: bold;
    font-style: italic;

}
.E{
    font-family: "kallisto";
    font-weight: 900;
}
.Ee{
    font-family: "kallisto";
    font-weight: 900;
    font-style: italic;

} */

.columnas{
    display: flex;
    width: 100%;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
   margin-top: 50px;
}


.columna{
    background-color: #ffffff;
    width: 22%;
    height: auto;
    min-width: 165px;
   transition: .7s;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 30px 20px;
   display: flex;
    flex-direction: column;
    gap: 10px;
}
a{
    min-width: 110px;
    width: 110px;
    padding: 3px 0px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: .5s;
    text-align: center;
}
a:hover{
    padding: 3px 6px;
    border: 1px solid #fff;
    border-radius: 10px;
    transition: .5s;
    transform: translateY(15px);
}
.columna:hover{
    background-color:#0081fe;
    color: #fff;
    transition:.7s ;
    
}
.columna:hover a, .columna:hover p span{
    color: #fff;
    transition:.7s ;
    
}

.letterheight{
    font-size: 20px;
    
}
.banner1
{
    display: flex;
    background-image: url(../../public/testimonial.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 480px;
    align-items: center;
    justify-content: center;
}
.banner1__textBoxes{
    text-align: center;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.banner1__image{
width: 90%;
height: auto;
}
.banner1__image img{
    width: 700px;
    height: auto;
}


.buttonbook{

    border: 1px #0170b9;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color:#0081fe;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    font-family: "kallisto";
    display: flex;
    justify-content: center;
    align-items: center ;
    margin-top: 50px;
}

.columna__paragraph{
    font-size: 16px;
/* me fije que tiene el mismo estilo de letras(no se si es un estilo o es algo de js) y puse esta columna por el tamaño de las letras de las tarjetas ya que se veia pequeño,intente cambiarlo desde la clase columna pero no lo cambiaba  */
}

.seccionvideo{
    
    display: flex;
    padding: 40px;
    gap: 30px;
}

.numbers{
    width: auto;
    height: 250px;
    display: flex;
    background-color: #f9fafa;
    justify-content: initial;
    border:   #7c0e0e 1px;
    
    width: auto;
    
    
    
}

.number{        
    
    height: 130px;
    padding: 10px; background-color: #ffffff;    
    gap: 10px; 
    width: 280px;
    background-color: solid #ffffff;
    
    margin: 10px;
    border-radius: 10px;
    align-content: space-around;
    text-align: center;
}

.markernumber{
    font-size: 50px;
    align-items: center;
    color: #0081fe;
}

.textnumber{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.footerupzone{
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
}

.logotext{
    font-size: 40px;
    cursor: pointer;
    position: relative;
    left: -100px;
    font-family: "kallisto";
}

.emailzone{
    position: relative;
    left: 39px;
    top: -20px;
}

.titulosfooter{
    font-size: 30px;
    font-family: "kallisto";
    
}

.emailbox{
    width: 390px;
    height: 50px;
    border-radius: 10px;
    
}

.btonfooter{
    font-family: "kallisto";
    background-color: #0081fe ;
    color: #fff;
    width: 170px;
    height: 50px;
    margin: 15px;
    border-radius: 10px;
    padding: 14px 40px
    
    
}

.footerbox{
    
}

.footer-down-text-li{
    margin: 0;

    color: #fff;
}

.listasfooter{
    
    gap: 40px;
    width: 400px;
    height: auto;
    
}

.footerdownzone{
    display: flex; 
}

.footerlists{
    display: inline; 
    
}

.endpage{
    text-align: center;
    margin: 30px;
}


.boton2{
    border: 1px #0170b9;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: #0081fe;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    font-family: "kallisto";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}



.links1{
    width: 46%;
    
}

.colortextlinks1{
    color: #ffff;
    
}

.text2{
    display: flex;
    flex-direction: column;
}