header{
    display: flex;
    background-color: #ffffff;
    height: 85px;
    align-items: center;
    padding: 5px 5%;
    justify-content: space-between;
    

}

.uptext{
    display: flex;
    height: 40px;
    background-color: #0081fe;
    color: #fff;
    align-items: center;
    
    padding: 5px 5%;
    justify-content: space-between;
}



    

li{
    display: inline-block;
    
}

.btn{
    
    color: #ffffff;
    padding: 9px 25px;
    background: #0081fe;
    border: none;
    font-family: "kallisto";
    text-decoration: none;
    height: 60px;
    width: 180px;
}

.logo img{
    height:23px ;
    width: auto;
    cursor: pointer;
}


nav a{

    align-items: center;
}

.webmobile{
    width: 100%;
    padding: 5em 1em;
    background-color: #f9fafa;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.subTitulo{
    font-family: "kallisto";
    font-weight: 600;
    font-size: 46px;
    text-align: center;
}
.marker{
    color: #0081fe;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;

}
.columna__paragraph{
    font-size: 13px;
}
/* .A{
    font-family: "kallisto";
    font-weight: 100;
}
.Aa{
    font-family: "kallisto";
    font-weight: 100;
    font-style: italic;
}
.B{
    font-family: "kallisto";
    font-weight: 200;
  
}
.Bb{
    font-family: "kallisto";
    font-weight: 200;
    font-style: italic;
}
.C{
    font-family: "kallisto";
    font-weight: 400;
}
.Cc{
    font-family: "kallisto";
    font-weight: 400;
    font-style: italic;

}
.D{
    font-family: "kallisto";
    font-weight: bold;
}
.Dd{
    font-family: "kallisto";
    font-weight: bold;
    font-style: italic;

}
.E{
    font-family: "kallisto";
    font-weight: 900;
}
.Ee{
    font-family: "kallisto";
    font-weight: 900;
    font-style: italic;

} */

.columnas{
    display: flex;
    width: 100%;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
   margin-top: 50px;
}


.columna{
    background-color: #ffffff;
    width: 22%;
    height: auto;
    min-width: 165px;
   transition: .7s;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 30px 20px;
   display: flex;
    flex-direction: column;
    gap: 10px;
}
a{
    min-width: 110px;
    width: 110px;
    padding: 3px 0px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: .5s;
    text-align: center;
}
a:hover{
    padding: 3px 6px;
    border: 1px solid #fff;
    border-radius: 10px;
    transition: .5s;
    transform: translateY(15px);
}
.columna:hover{
    background-color:#0081fe;
    color: #fff;
    transition:.7s ;
    
}
.columna:hover a, .columna:hover p span{
    color: #fff;
    transition:.7s ;
    
}

.letterheight{
    font-size: 20px;
    
}
.banner1
{
    display: flex;
    background-image: url(../../public/testimonial.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 480px;
    align-items: center;
    justify-content: center;
}
.banner1__textBoxes{
    text-align: center;   
}
.banner1__image{

}
.banner1__image img{
    width: 700px;
    height: auto;
}


.buttonbook{
/* no pude centrar el texto del boton */
    
    border: 1px #0170b9;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color:#0081fe;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    font-family: "kallisto";
    position: absolute; top: 50%; left: 16% ;
}

.columna__paragraph{
    font-size: 16px;
/* me fije que tiene el mismo estilo de letras(no se si es un estilo o es algo de js) y puse esta columna por el tamaño de las letras de las tarjetas ya que se veia pequeño,intente cambiarlo desde la clase columna pero no lo cambiaba  */
}
