@font-face {
    font-family: "kallisto";
    src: url("./kallisto/Kallisto\ Thin.otf");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "kallisto";
    src: url("./kallisto/Kallisto\ Thin\ Italic.otf");
    font-weight: 100;
    font-style: italic;
}

/* -------------------------------------------------------- */
@font-face {
    font-family: "kallisto";
    src: url("./kallisto/Kallisto\ Light.otf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "kallisto";
    src: url("./kallisto/Kallisto\ Light\ Italic.otf");
    font-weight: 200;
    font-style: italic;
}
/* -------------------------------------------------------- */


@font-face {
    font-family: "kallisto";
    src: url("./kallisto/Kallisto\ Medium.otf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "kallisto";
    src: url("./kallisto/Kallisto\ Medium\ Italic.otf");
    font-weight: 400;
    font-style: italic;
}
/* -------------------------------------------------------- */

@font-face {
    font-family: "kallisto";
    src: url("./kallisto/Kallisto\ Bold.otf");
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: "kallisto";
    src: url("./kallisto/Kallisto\ Bold\ Italic.otf");
    font-weight: bold;
    font-style: italic;

}
/* -------------------------------------------------------- */

@font-face {
    font-family: "kallisto";
    src: url("./kallisto/Kallisto\ Heavy.otf");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "kallisto";
    src: url("./kallisto/Kallisto\ Heavy\ Italic.otf");
    font-weight: 900;
    font-style: italic;
}